.panel.panel-info.notice_box {
    border-radius: 4px;
}

.notice_box .panel-heading {
    padding: 10px 15px;
    border-color: #d0edf3;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
.notice_box .panel-heading h3.panel-title {
    font-size: 13px !important;
    font-weight: normal;
    color: #5087a9 !important;
}

.p_one{
    margin-left: 9px;
    margin-bottom: 0px !important;
}

.padding_top_10px{
    padding-top: 10px !important;
}

.text-font-weight-bold{
    font-weight: bold;
}
.thank-block{
    margin: 0% 14% 5% 14%;
}
.no-padding{
    padding: 0;
}

.padding_right_2px{
    padding-right: 2px;
}

.pay_btn_padding_12_52{
    padding: 12px 52px;
}

.padding_top_20px{
    padding-top: 20px !important;
}

.text-font-weight-600{
    font-weight: 600;
}
.amount_label_font {
    font-size: 14px;
}