.paylist_heading {
    background-color: #f9f9f9 !important;
}

.paylist_data {
    background-color: #ffffff !important;
}

.navbar {
    margin-bottom: 0px !important;
}

.padding-bottom-0px {
    padding-bottom: 0px !important;
}

@media (max-width: 480px) {
    .mt-1 {
        display: none !important;
    }
} 
.bg-dark
{
    background: #f8f8f8;
}
.py-1
{
	padding-top: 1rem;
    padding-bottom: 1rem;
}
.col-md-12.bg-dark .form-control 
{
    background: #FFF;
}
.col-md-12.bg-dark .form-control
{
    background: #FFF;
}
.col-md-12.bg-dark .form-group i img
{
	margin-left:2px;
}
.cards
{
	position: absolute;
    right: 3px;
    top: -5px;
}
.d-block
{
	display: block;
}
.w-100
{
	width: 100%;
}
.mtop-120
{
	margin-top: 1.20rem;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }

@media screen and (min-width: 992px)
{
	.mt-md-1
	{
		margin-top: 1rem;
	}
	.mt-md-2
	{
		margin-top: 2rem;
	}
	.mt-md-2-5
	{
		margin-top: 2.5rem;
	}
	.mt-md-3-8
	{
		margin-top: 3.8rem;
	}
}
@media screen and (max-width: 991px)
{
	.mt-sm-1
	{
		margin-top: 1rem;
	}
	.mt-sm-1-4
	{
    	margin-top: 1.4rem;
	}
	.mt-sm-1-7
	{
    	margin-top: 1.7rem;
	}
	.mt-sm-2-5
	{
		margin-top: 2.5rem;
	}
	.mt-sm-3-8
	{
		margin-top: 3.8rem;
	}
}
@media screen and (max-width: 991px)
{
	.text-xs-left
	{
		text-align: left!important;
	}
}
@media screen and (max-width: 767px)
{
	.mt-xs-1
	{
		margin-top: 1rem;
	}
	.mt-xs-1-5
	{
		margin-top: 1.5rem;
	}
}
.fs-12p
{
	font-size: 12px;
}
.border-none
{
	border:0;
}
.form-control
{
    border-color: #e8e8e8!important;
	height: 44px;
	font-size: 13px;
}
.input-group-addon
{
	background-color: #F1F1F1;
}
.form-control[readonly]
{
    background-color: #f8f8f8;
}
legend
{
    padding-bottom: 7px;
    position: relative;
    font-size: 16px;
    font-weight: 600;
    color: #38485b;
    clear: both;
}
legend:after
{
    content: '';
    position: absolute;
    width: 150px;
    height: 3px;
    left: 0;
    top: 28px;
}

.form-group checkbox
{
	width: 18px;
	height: 18px;
	vertical-align: sub;
}
.chosen-container-single .chosen-single span
{
	    height: 44px;
    line-height: 44px;
}
.chosen-container-single .chosen-single
{
	height: 44px;
}
.chosen-container-single .chosen-single div
{
	    top: 4px;
}
label
{
    font-size: 13px;
    color: #38485b;
    font-weight: 600;
    margin-bottom: 7px;
}
.form-group input[type="checkbox"]
{
    height: 18px;
    width: 18px;
    vertical-align: sub;
    margin-right: 5px;
}
#page-content h3
{
    color: #0083ff;
    font-size: 2.4rem;
    margin-top: 0px;
}
.btn
{
	line-height:29px;
}
.navbar .form-control, .navbar .input-group-btn .btn
{
    height: auto;
	line-height: initial;
}
.px-md-4 {
    padding-left: 4rem;
    padding-right: 4rem;
}
.btn-danger.px-md-4
{
    background-color: #f2f2f2!important;
    color: #E32E1B !important;
}
label[for="tc"], label[for="chk_add_copy"]
{
    font-weight: 600;
    font-size: 13px;
	color: #7f7f7f;
}
.bg-dark label
{
    font-weight: 560;
    text-transform: uppercase;
    font-size: 13px;
    color: #6f6f6f;
}
@media screen and (min-width: 768px)
{
    .form-bordered
	{
        margin-left: 0px !important; 
        margin-right: 0px !important;
    }
}
 .form-bordered
{
    margin: 0px !important;
}
.table thead > tr > th
{
    font-size: 13px;
}
.lineheight-normal
{
	line-height:normal;
}
.leg:after{
    background: #0c7bff;
}
/*css for customer data table*/
#outstand_wrapper > div{
    background-color: #f2f2f2 !important;
    border: none !important;
}
#outstand{
    background-color: #fff !important;
}
#outstand_wrapper > div:last-child{
    background-color: #fff !important;
    border-top: 2px solid #f2f2f2 !important;
}
#outstand_wrapper>.row >.col-sm-6.col-xs-5 {
    padding-left: 0px !important;
}
#outstand_wrapper>.row >.col-sm-6.col-xs-7 {
    padding-right: 0px !important;
}
#outstand_filter>label>.input-group>span.input-group-addon{
    background-color: #A5A5A5 !important;
}
#outstand_filter>label>.input-group>span.input-group-addon>.fa-search{
    color:#fff !important;
}

/*css for paid invoice data table*/
#paid_invoice_wrapper > div{
    background-color: #f2f2f2 !important;
    border: none !important;
}
#paid_invoice_wrapper{
    background-color: #fff !important;
}
#paid_invoice_wrapper > div:last-child{
    background-color: #fff !important;
    border-top: 2px solid #f2f2f2 !important;
}
#paid_invoice_wrapper>.row >.col-sm-6.col-xs-5 {
    padding-left: 0px !important;
}
#paid_invoice_wrapper>.row >.col-sm-6.col-xs-7 {
    padding-right: 0px !important;
}
#paid_invoice_filter>label>.input-group>span.input-group-addon{
    background-color: #A5A5A5 !important;
}
#paid_invoice_filter>label>.input-group>span.input-group-addon>.fa-search{
    color:#fff !important;
}

/*css for sub invoice data table*/
#subs_wrapper > div{
    background-color: #f2f2f2 !important;
    border: none !important;
}
#subs_wrapper{
    background-color: #fff !important;
}
#subs_wrapper > div:last-child{
    background-color: #fff !important;
    border-top: 2px solid #f2f2f2 !important;
}
#subs_wrapper>.row >.col-sm-6.col-xs-5 {
    padding-left: 0px !important;
}
#subs_wrapper>.row >.col-sm-6.col-xs-7 {
    padding-right: 0px !important;
}
#subs_filter>label>.input-group>span.input-group-addon{
    background-color: #A5A5A5 !important;
}
#subs_filter>label>.input-group>span.input-group-addon>.fa-search{
    color:#fff !important;
}


#add_title{
    background-color: #fff;
}

.quick_status > .quick_2{
    padding-right: 0 !important;
   
}

#email_hist_wrapper > div{
    background-color: #f2f2f2 !important;
    border: none !important;
}
#email_hist_wrapper{
    background-color: #fff !important;
}
#email_hist_wrapper > div:last-child{
    background-color: #fff !important;
    border-top: 2px solid #f2f2f2 !important;
}
#email_hist_wrapper>.row >.col-sm-6.col-xs-5 {
    padding-left: 0px !important;
}
#email_hist_wrapper>.row >.col-sm-6.col-xs-7 {
    padding-right: 0px !important;
}
#email_hist_filter>label>.input-group>span.input-group-addon{
    background-color: #A5A5A5 !important;
}
#email_hist_filter>label>.input-group>span.input-group-addon>.fa-search{
    color:#fff !important;
}



#customer_table_wrapper > div{
    background-color: #f2f2f2 !important;
    border: none !important;
}
#customer_table_wrapper{
    background-color: #fff !important;
}
#customer_table_wrapper > div:last-child{
    background-color: #fff !important;
    border-top: 2px solid #f2f2f2 !important;
}
#customer_table_wrapper>.row >.col-sm-6.col-xs-5 {
    padding-left: 0px !important;
}
#customer_table_wrapper>.row >.col-sm-6.col-xs-7 {
    padding-right: 0px !important;
}
#customer_table_filter>label>.input-group>span.input-group-addon{
    background-color: #A5A5A5 !important;
}
#customer_table_filter>label>.input-group>span.input-group-addon>.fa-search{
    color:#fff !important;
}

.edit_cutomer{
    border-radius: 50% !important;
    background-color: #fff !important;
    margin-right: 7px !important;
}
.deactive_customer{
    border-radius: 50% !important;
  
}
#table2>.form-group {
    padding: 10px;
}
.dashboard-table{
    background-color: #fff !important;
}
.dashboard-table thead > tr > td, .table-align-padding-left thead > tr > th, .table-align-padding-left thead > tr > td {
    padding-left: 18px !important;
}
.v-center
{
    display: flex;
    align-items: center;
}
td>a.active_btn {
    background-color: #808080 !important;
    font-size: 12px !important;
}
td>a.deactive {
    font-size: 12px !important;
}
@media only screen and (min-width : 1200px) and (max-width : 1637px)
{
	.card-body-icon .fa
	{
		font-size: 2rem;
	}
	.card-body-icon
	{
		width: 40px;
        height: 40px;
        margin-top: 5px;
	}
	.card-content h4
	{
		font-size: 1.25rem;
    	margin-top: 0.7rem;
	}
}

.batch_button_color {
    background-color: #808080 !important;
    border-color: #808080 !important;
}

.batch_button_color:hover {
    background-color: #808080 !important;
    border-color: #808080 !important;
}

.dataTables_wrapper > div{
    background-color: #f2f2f2 !important;
    border: none !important;
}
.dataTables_wrapper{
    background-color: #fff !important;
}
.dataTables_wrapper > div:last-child{
    background-color: #fff !important;
    border-top: 2px solid #f2f2f2 !important;
}
.dataTables_wrapper>.row >.col-sm-6.col-xs-5 {
    padding-left: 0px !important;
}
.dataTables_wrapper >.row >.col-sm-6.col-xs-7 {
    padding-right: 0px !important;
}
.dataTables_filter>label>.input-group>span.input-group-addon{
    background-color: #A5A5A5 !important;
}
.dataTables_filter>label>.input-group>span.input-group-addon>.fa-search{
    color:#fff !important;
}


.dataTable{
    background-color: #fff !important;
}
.dataTable > div:last-child{
    background-color: #fff !important;
    border-top: 2px solid #f2f2f2 !important;
}
.dataTable>.row >.col-sm-6.col-xs-5 {
    padding-left: 0px !important;
}
.dataTable >.row >.col-sm-6.col-xs-7 {
    padding-right: 0px !important;
}
.block-options.gatway-btn {
   top:145px !important;
}
.quick_status > .quick_1 {
    padding-left: 0 !important;
   
}
.login_click_btn{
    line-height: 0px !important;
}
.custom-warning{
    background-color: #6b33aa !important;
}
.custom-danger-icon{
    color: #e74c3c !important;
}
.custom-warning-icon{
    color: #6b33aa !important;
}
.custom-primary-icon{
    color: #337ab7 !important;
}
.custom-success-icon{
    color: #28a745 !important;
}


.no-pad{
    padding: 0;
}
.payment_info_section{
    background-color: #fff;
    padding: 2% 0% 2% 0%;
}
.display-plan{

}
.single-row{
    margin: 3% 0% 3% 0%;
}
.single-row span.span_right {
    padding-left: 0%;
}
.exist_payment_method {
    padding: 5% 0% 0% 0%;
}
.pay_value_label{
    padding: 3% 4%;
    background: #f2f2f2;
    width: 83%;
    float: left;
    border-radius: 4px;
    height: 38px;
    font-size: 14px;
}
.edit_pay_option{
    cursor: pointer;
    position: relative;
    top: 10px;
    left: 6%;
}
#edit_mode{
    display: none;
}
.displayPayForm{
    display: block;
}
.hidePayForm{
    display: none;
}
.pay_info{
    width: 100%;
    overflow: auto;
}
.pay_info th{
    border: none !important;
}
.payment_info {
    margin-top: 5%;
}
.inputBoxBorder {

}
.billing_part.new_add{
    padding: 71px 0 0 0;
}
.billing_part.exist_add.onViewBill{
    padding: 1.8% 0% 0% 0%;
}
.single_add {
    margin-bottom: 4%;
}

.new_card{
    padding: 2% 0% 0% 0%;
}
.edit_plan_mode{
    text-align: right;
    padding-right: 8%;
}
.edit_plan_name{
    text-align: right;
}

.acc_number_manage,.card_number_manage{
    display: none;
}
.btn_number_edit{
    width: 27%;
    padding: 0;
    float: right;
    position: relative;
    bottom: 6px;
}
.single_add label.control-label {
    padding-top: 12px !important;
}
.single_add.has-error {
    margin-bottom: 0;
}
#plan_edit{
    display: none;
}
.inputBoxBorder.form-control[readonly] {
    background-color: transparent;
}
.displayPayForm label.control-label,.hidePayForm label.control-label,#ccform label.control-label,#checkingform label.control-label{
    padding-left: 0;
    padding-right: 1%;
}

div#plan_edit .edit_plan_price {
    padding-left: 5% !important;
}
.paymethodSection{
    width: 35%;
    float: left;
}
.billing_section{
    width: 32%;
    float: left;
}
.b_align_field {
    text-align: right;
    padding-right: 15px;
}
.exist_payment_method  .col-md-5.col-sm-5,.single-row .col-md-5.col-sm-5 {
    text-align: right;
}
div#plan_view label.label_left.planMethodLabel {
    padding-right: 5%;
}
.bottom_right_section {
    background: #fff;
    padding: 0 40px 20px 20px;
    margin-bottom: 2%;
}
label.left_pay_label {
    padding-top: 7%;
}
.billing_part.exist_add.onEditBill{
    padding: 5.7% 0% 0% 0%;
}
.exist_record .bottom_right_section{
    display: none;
}
.new_record span.span_right.planMethodValue {
    padding-left: 5%;
}
@media (max-width: 767px) {
    .paymethodSection {
        width: 100%;
        float: none;
    }
    .billing_section {
        width: 100%;
        float: none;
    }
    .exist_payment_method .col-md-5.col-sm-5, .single-row .col-md-5.col-sm-5 {
            
            width: 41%;
            float: left;
    }
    .exist_payment_method .col-md-7.col-sm-7, .single-row .col-md-7.col-sm-7 {
            
            width: 58%;
            float: left;
    }
    .paymethodSection {
        background: #fff;
    }
    .single-row {
        margin: 3% 0% 0% 0%;
    }
    .billing_part.exist_add.onViewBill {
        padding: 2% 2% 2% 2%;
        background: #fff;
        margin-bottom: 5%;
    }
    .exist_payment_method {
        padding: 6% 3% 2% 2%;
    }
    .displayPayForm label.control-label, .hidePayForm label.control-label, #ccform label.control-label, #checkingform label.control-label {
        padding-left: 20px;
    }
    .bottom_right_section {
        
        padding: 0 40px 55px 20px;
        margin-bottom: 18%;
        clear: both;

    }
    .billing_part.exist_add.onEditBill {
        background: #fff;
    }
} 

.panel.panel-info.notice_box {
    border-radius: 4px;
}

.notice_box .panel-heading {
    padding: 10px 15px;
    border-color: #d0edf3;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
.notice_box .panel-heading h3.panel-title {
    font-size: 13px !important;
    font-weight: normal;
    color: #5087a9 !important;
}
.terms_btn_grp{
    width: 23%;
}
.terms_btn_grp .default_gateway{
    margin-right: 4%;
}
@media screen and  (max-width : 620px)
{
    .terms_btn_grp {
        width: 52%;
    }
}
@media screen and (min-width : 621px) and (max-width : 1200px){
    .terms_btn_grp {
        width: 37%;
    }
}

.sync_filter{
    width: 150px;
    position: absolute;
    top: 9px;
    right: 85px;
    z-index: 1;
}

.subs-btn-1 {
    position: absolute;
    top: 9px;
    left: 230px;
    z-index: 1;
}

.dropdown-header-li:first-child {
    height: 89px;
    min-height: 0;
}
.alert-notification{
    right: 10%;
    cursor: pointer;
    
}

.css-1v5plmp{
    pointer-events: none;
    position: absolute;
    top: 13px;
    right: 2px;
    background: #fc0808;
    color: #fff;
    width: 19px;
    height: 20px;
    padding: 3%;
    font-size: 11px;
    text-align: center;
    border-radius: 50%;
    font-weight: bolder;
}
.alert-notification  > a:hover, .alert-notification >  a:focus {
    background-color: #f8f9fd !important;
    color: rgb(0, 82, 204)!important;
    background: rgba(222, 235, 255, 0.6)!important;
   
}
.nf-message-head{
    text-align: left;
    font-weight: bold;
    font-size: 13px;
}
.single-nf{
    padding: 0;
    height: 100px;
}
.alert-notification .dropdown-header{
    padding: 0;
}
.alert_notification_p {
    padding: 0;
    margin: 0;
}
.dropdown-header-li{
    width: 285px;
    padding: 0%;
    min-height: 100px;
    list-style: none;
}
.nf-message{
    width: 90%;
    float: left;
    padding: 4% 0% 6% 0%;
    border-bottom: 1px solid #ccc;
}
.nf-clear{
    width: 10%;
    top: 10px;
    float: left;
    position: relative;
    left: 5%;
}
.clearNotification {
    display: none;
}
.dropdown-header-li:hover .nf-clear .clearNotification{
    display: inline-block;
    
}
.alert-notification .dropdown-custom.dropdown-menu-right{
    overflow: scroll;
    max-height: 495px;
    overflow-x: hidden;
}
.alert-notification ::-webkit-scrollbar {
    height: 8px;
    width: 8px;
    background: #fff;
}

.alert-notification ::-webkit-scrollbar-thumb {
    background: #1185fe;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgb(17 133 254);
}

.alert-notification ::-webkit-scrollbar-corner { 
    background: #1185fe;
}
.dropdown-header-li-blank{
    width: 310px;
    text-align: center;
    list-style: none;
    overflow: hidden;
}
.nf-sub {
    height: 100px;
}
.dropdown-header-li:last-child .nf-message {
    
    border-bottom: none;
}
button.NotificationItem {
    border: 4px solid transparent;
    border-radius: 100%;
    margin-right: 5px;
    padding: 0;
    transition: none;
    width: 15px;
    height: 15px;
    font-size: 0;
    visibility: visible;
    border-color: #ebecf0;
    background: #0052cc;
}
.markReadNotification {
    display: inline-block;
    float: right;
}
.nf-message.black_show {
    color: #000;
}
.dropdown-menu.dropdown-custom > li {
    padding: 0 !important;
}
@media only screen and (max-device-width: 767px){
    .alert-notification {
        right: -7%;
        cursor: pointer;
    }
    .alert-notification .dropdown-custom.dropdown-menu-right {
        left: auto;
        right: -82%;

    }
}
.black_show .nfCreatedTime{
    color: #1185fe;
    font-weight: 600;

}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.scrollLoad {
    margin: 0% 0px 0% 36%;

    clear: both;
}
.loadHeight {
    max-height: 470px!important;
}

#loading {
    clear: both;
    position: relative;
    display: block;
    left: 46%;
    margin-bottom: 8%;
    border: 2px solid #333333;
    border-radius: 50%;
    border-top: 2px solid blue;
    border-bottom: 2px solid blue;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.dropdown-header-li-blank .nf-message {
    border-bottom: none;
    padding: 0;
}
.dropdown-header-li-blank .nf-sub {
    padding: 0;
    height: 40px;
}
.dropdown-header-li-blank .single-nf {
    padding: 3% 1%;
    min-height: 40px;
    height: 40px;
}
.nf-message-desc b{
    font-weight: bold;
}

#invoice_number_chosen .chosen-choices{
    padding-top: 5px;
    padding-bottom: 5px;    
}

#template-guide-heading{
    font-size: 16px;
    font-weight: 600;
}
.emailtemplate-ul-li-div{
    border-top: 0;
}
.emailtemplate-ul-li-div #systemtmp{
    margin-left: -1px;
}
.emailtemplate-ul-li-div ul{
    background-color: #f2f2f2;
}
.emailtemplate-ul-li-div ul li.active{
    background-color: #ffffff;
    padding-bottom: 2px;
    border: 0;
}
.emailtemplate-ul-li-div ul li{
    border: 1px solid #e5e5e5;
}
.emailtemplate-ul-li-div .block-title .nav-tabs > li.active > a{
    border: 0;
    border-bottom: 1px solid #eaedf1;
    border-bottom-color: #ffffff;
    background-color: #ffffff;
}
.emailtemplate-ul-li-div .block-options {
    margin: 0;
}
.pl-15px{
    padding-left: 15px;
}

#customerID_chosen{
    width: 100% !important;
}

.modal-title{
    font-size: 24px !important;
    font-weight: 600 !important;
}

.dataTables_wrapper >.row >.col-sm-6.col-xs-7 {
    position: absolute !important;
    z-index: 9 !important;
    left: 50px !important;
    width: 220px !important;
}

.addNewFixRight{
    position: absolute;
    top: 9px;
    right: 0px !important;
    z-index: 1;
}

.viewLogOverride{
    top: 75px !important;
    right: 25px !important;
}

.width248FixRight{
    width: 248px !important;
}

.width160FixRight{
    width: 160px !important;
}

@media screen and (max-width: 768px){
    .dataTables_wrapper >.row >.col-sm-6.col-xs-7 {
        position: absolute !important;
        z-index: 9 !important;
        left: 75px !important;
        width: 220px !important;
    }
}

.custom-modal-head-title{
    font-size: 24px !important;
    font-weight: 600 !important;
}

.padding-right-0px{
    padding-right: 0px !important;
}
.tabpage-ul-li-div{
    border-top: 0;
}
.tabpage-ul-li-div #systemtmp{
    margin-left: -1px;
}
.tabpage-ul-li-div ul{
    background-color: #f2f2f2;
}
.tabpage-ul-li-div ul li.active{
    background-color: #ffffff;
    padding-bottom: 2px;
    border: 0;
}
.tabpage-ul-li-div ul li{
    border: 1px solid #e5e5e5;
}
.tabpage-ul-li-div .block-title .nav-tabs > li.active > a{
    border: 0;
    border-bottom: 1px solid #eaedf1;
    border-bottom-color: #ffffff;
    background-color: #ffffff;
}
.tabpage-ul-li-div .block-options {
    margin: 0;
}
#invoice_page_processing{
    position: relative;
    z-index: 1;
    top: -18px;
}

.batch_button_color:active {
    background-color: #808080 !important;
    border-color: #808080 !important;
}
.batch_button_color:focus {
    background-color: #808080 !important;
    border-color: #808080 !important;
}
.batch_button_color:active:focus {
    background-color: #808080 !important;
    border-color: #808080 !important;
}

.revenue_filter{
    margin-left: 5px !important;
    border-color: #e8e8e8!important;
    height: 44px;
    font-size: 13px;
    padding: 8px;
}

.alignRIghtReciept .secReciept{
    text-align: right;
    padding: 0;
    margin-bottom: 12px;
}
.alignRIghtReciept .secReciept .set_checkbox{
    position: relative;
    top: 2px;
}
.alignRIghtReciept .secReciept span{
    margin-right: 5px;
}

.reciptCheckboxGroup span{
    margin-right: 5px;
}
.reciptCheckboxGroup .set_checkbox{
    margin-right: 0px !important;
}
.defaultAlign{
    float: right;
}
tr.boldText td {
    font-weight: bold;
}
#rangeDataDashboard{
    position: absolute;
    left: 360px;
    top: 20px;
}
.disabledView {
    pointer-events: none;
    background: #eee !important;
    border: #eee;
}
.disabledSurchargeBtn{
    pointer-events: none;
    background: #ccc !important;
    border: #ccc !important;
}
.surchargeBtnGrp{
    position: relative;
    bottom: 64px;
    float: right;
}
.surchargeBtn{
    padding: 4px 25px 4px 25px;
}
.contentPopup{
    padding: 0% 2%;
    height: 235px;
    text-align: justify;
}
#surchargeEnablePopup .modal-body{
    height: 318px;
}
#isAgree{
    width: 17px;
    height: 17px;
}
.isAgreeContent.col-md-11.col-sm-11.no-pad {
    margin-left: 12px;
    text-align: justify;
}
.alignWidth{
    width: 550px;
}
.linkColorVisa{
    text-decoration: underline!important;
    color: #337ab7!important;
}
.isAgree.error{
    outline: 2px solid red!important;
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
}
#isAgree-error{
    display: none!important;
}
#surchargeDisableBtn{
    font-size: 12px;
}
.set_taxes .custom_checkbox {
    position: relative;
    cursor: pointer;
    font-size: 20px;
}
  
.set_taxes input[type=checkbox] {
    visibility: hidden;
}
.set_taxes .geekmark {
    position: absolute;
    top: 18px;
    left: 0;
    height: 18px;
    width: 18px;
    border: 1px solid #bab4b4;
    border-radius: 3px;
}
  
.set_taxes .custom_checkbox input:checked ~ .geekmark {
    background-color: gray;
}
  
.set_taxes .geekmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
.set_taxes .custom_checkbox input:checked ~ .geekmark:after {
    display: block;
}
  
.set_taxes .custom_checkbox .geekmark:after {
    left: 5px;
    bottom: 4px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.chk_pay_invoice_refund{
    display: none;
}
.address-heading-h2{
    font-size: 14px !important;
}
.amount_label_font {
    font-size: 14px;
}
.transaction-print-btn {
    font-size: 13px !important;
    color: #ffffff !important;
}
#form-validation .help-block {
    display: table-footer-group;
}
#reference_memo_id {
    padding-bottom: 7px !important;
}
.recieptPage .row.first-row .newBtn {
    position: absolute;
    right: 14px;
    bottom: 30px;
    z-index: 9;
}

.recieptPage .row.first-row {
    margin-top: 10px;
}