.btn-success.btn-alt1 {
    background-color: #ffffff;
    color: #7db831;
}

.btn-danger.btn-alt1{
	  background-color: #ffffff;
    color: #e74c3c;
	
}

.btn-info.btn-alt1{
	  background-color: #ffffff;
    color: #3498db;
	
}

.btn-warning.btn-alt1{
	  background-color: #ffffff;
    color: #f39c12;
	
}


/*=======================================================*/

.o-hidden {
    overflow: hidden !important;
}
.text-white {
    color: #fff !important;
}
.h-100 {
    height: 100% !important;
}
.bg-primary {
    background-color: #007bff !important;
}
.card-body-icon {
    background: #FFF;
    float: left;
    border-radius: 50px;
    width: 90px;
    height: 90px;
    font-size: 5rem;

}
.card-body {
	-webkit-box-flex: 1;
	flex: 1 1 auto;
	padding: 1.25rem;
}
.float-right {
    float: right !important;
}

.card {
    word-wrap: break-word;
	position: relative;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-clip: border-box;
	border: 1px solid rgba(0,0,0,.125);
	border-radius: .25rem;
}
.fa-fw {
    width: 1.28571429em;
    text-align: center;
}
.fa-comments::before {
    content: "\f086";
}
.mr-5, .mx-5 {
    margin-right: 3rem !important;
}
.card-footer:last-child {
    border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
}
.z-1 {
    z-index: 1;
}

.mb-3, .my-3 {
    margin-bottom: 1rem !important;
}
.bg-warning {
    background-color: #ffc107;
}
.bg-danger {
	background-color: #e74c3c;
}
.bg-success {
    background-color: #28a745 !important;
}
.void-btn{
    
    padding: 5px 17px;
}
.btn-gray {
    background-color: #f2f2f2;
    border-color: #aaaaaa;
    color: #888888;
}

.btn-gray:hover {
    background-color: #f2f2f2;
    border-color: #888888;
    color:  #888888;
}

#qb-generate{
    
    font-size:14px;
}

/*******************Upload Edit Button*************/

	.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  animation: spin 0.35s infinite linear;
  border: 2px solid #707070;
  border-radius: 50%;
  border-top-color: white;
  height: 25px;
  transform-origin: left;
  top: 45%;
  width: 25px;
}
.hidden-input {
  left: -999px;
  position: absolute;
}
.profile {
  *zoom: 1;
  background-color: white;
  border-radius: 2px;
  display: block;
  float: none;
  margin: -15px auto;
  overflow: hidden;
  padding-bottom: 20px;
}
.profile:before,
.profile:after {
  content: "";
  display: table;
}
.profile:after {
  clear: both;
}
.about {
  font-family: Helvetica, "Helvetica Neue", "Tahoma";
  font-size: 12px;
  color: #adadad;
  line-height: 17px;
}
.image-wrapper {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  bottom: -50px;
  height: 50px;
  left: 0;
  position: absolute;
  transition: bottom 0.15s linear;
  width: 100%;
}
.image-wrapper .edit {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  cursor: pointer;
  font-size: 22px;
  top: 12px;
  left: 12px;
}
.cover {
  height: 300px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.cover img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 300px;
}
.cover .image-wrapper {
  bottom: auto;
  height: 45px;
  left: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 45px;
}
.name {
  font-family: Helvetica, "Helvetica Neue", "Tahoma";
  font-size: 18px;
}
/*profile pic*/
.profile-pic {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  border: 4px solid white;
  overflow: hidden;
  transform: translateX(-50%) translateY(-50%);
  width: 120px;
  height: 120px;
  top: 40px;
}
.profile-pic img {
  box-sizing: border-box;
  height: 100%;
  left: 50%;
  max-height: 100%;
  position: absolute;
  transform: translateX(-50%);
  transition: all 0.15s ease-out;
  width: auto;
}
.profile-pic:hover .image-wrapper {
  bottom: 0;
}
.username {

 margin-top: 252px;
  text-align: center;
}
.user-info {
  *zoom: 1;
  padding: 8px;
  position: relative;
}
.user-info:before,
.user-info:after {
  content: "";
  display: table;
}
.user-info:after {
  clear: both;
}
.profile-pic .layer {
  background-color: rgba(0, 0, 0, 0.25);
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.profile-pic .layer.visible {
  display: block;
}


button.close.btn_mdl_close {
    height: 0px;
    position: relative;
    font-size: 25px;
    bottom: 28px;
}

select[aria-invalid="false"] {
    border-color: #e8e8e8 !important;
}

/* For Firefox */

input[type='number'] {
    -moz-appearance:textfield;
}



/* Webkit browsers like Safari and Chrome */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

h3.customer-name
{
	color: #47505c;
    font-size: 18px !important;
}
.card-content
{
	margin-left: 1.5rem;
}
.card-padding
{
	padding: 2rem 1.5rem;
}
.card-content h4
{
	font-size: 1.85rem;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 1.5rem;
}
.card-footer
{
    font-size: 2rem;
}
.card-body-icon
{
	display: inline-flex;
    align-items: center;
}
.card-body-icon .fa
{
	text-align: center;
	margin: 0 auto;
}
.card-body-icon .fa-money
{
	color: #28a745;
}
.card-body-icon .fa-credit-card
{
	color: #007bff;
}
.card-body-icon .fa-calendar
{
	color: #ffc107;
}
.card-body-icon .fa-thumbs-o-down
{
	color: #e74c3c;
}
input.form-control.geter {
    position: relative;
    top: -14px;
}
.alignTableInvoiceList{
  height: 36px;
}
#amount_loader{
    position: absolute;
    z-index: 9;
    right: 50px;
    top: 13px;
}
.alignTableInvoiceListTotal{
  height: 26px;
  margin-top: 30px;
  font-weight: 600;
}
.alignTableInvoiceListTotal .totalTextLeft{
  padding-right: 20px;
}
.alignTableInvoiceListTotal .totalTextRight{
  padding-left: 10px;
}
.custom-modal-width{
    width: 695px;
}
.modal-footer.modal-footer-witout {
    background: transparent;
    padding: 0px 33px 15px;
    border-top: none;
}
.modal-body.modal-body-bottom-padding{
  padding-bottom: 5px;
}
#graphloader{
    position: absolute;
    margin: 0 auto;
    top: 80px;
    padding: 14% 46% 14% 46%;
    background: #f2f2f25e;
    z-index: 999;
}