.alert-non-fade {
    border:                 1px solid transparent;
    border-radius:          4px;
    border-top-width:       0;
    border-right-width:     2px;
    border-bottom-width:    0;
    border-left-width:      2px;
    margin-bottom:          20px;
    padding:                15px;
    text-align:             center;
}