.error{color:red; }


.text-danger{color:red; }
.text-success{color:green; }

.sidebar-brand, .sidebar-title {
    margin:  0px;
    font-weight: 300;
    font-size: 18px;
    display: block;
    color: #ffffff;
	background-color: rgba(0, 0, 0, 0.3) !important;
	height: 70px;
}  

.navbar{
     height: 70px;
     background-color: #fff;
}

.nav.navbar-nav-custom > li > a {
    min-width: 45px !important;
    padding: 15px 7px;
    line-height: 40px;
    text-align: center;
    color: #394263;
    position: relative;
}
.btn-search{
	background-color: #4d73e0 !important;
}
.icon-color {
    color: #ffffff !important; 
}
.top-header{
  top:16px;	
}
a {
    text-decoration: none !important;
}
#img-spinner{
    animation: spin 2s linear infinite;
}
.breadcrumb {
		display: flex;
		flex-wrap: wrap;
    	padding: .75rem 1rem;
    	margin-bottom: 1rem;
    	list-style: none;
	    border-radius: .25rem;
	    font-size:16px;
}
.breadcrumb-item a{
	color: #418eff;
}
.breadcrumb-item a:hover{
	text-decoration:none;
	color: #418eff;
}
.breadcrumb-item + .breadcrumb-item::before {
   display: inline-block;
   padding-right: .5rem;
   padding-left: .5rem;
   color: #6c757d;
   content: "/";
}

.tooltip-inner {
  white-space:nowrap;
  max-width:none;
}
.cust_view a{
    color: #167bc4  !important;
}
.dropbtn .dropdown-toggle .caret {
    position: relative;
    float: right;
    top: 9px;
    right: 5px;
}
.dropbtn .dropdown-toggle {
    width: 80px;
    padding: 6px 1px;
}
.dropbtn .dropdown-menu{
     min-width: 100px!important;
     }
.edit_cust_btn{
    background-color: #3498db;
    border-color: #3498db;
}

span.h4.edit_inv_text{
   color: #808080;
    font-size: 16px;
}
.block-options.process_btn {
    position: relative !important;
    right: 0px !important;
    z-index: 1 !important;
    top: 44px !important;
}



.navbar.navbar-default {
    background-color: #3498db !important;
}

.btn-info:focus, .btn-success.focus, .btn-success:active, .btn-success:active:hover, .btn-success:active:focus, .btn-success.active, .btn-success.active:hover, .btn-success.active:focus, .open .btn-success.dropdown-toggle, .open .btn-success.dropdown-toggle:hover, .open .btn-success.dropdown-toggle:focus, .open .btn-success.dropdown-toggle.focus {
    background-color:  #167bc4 !important; 
    border-color: #0991f2 !important; 
    color: #ffffff !important; 
}


.btn-info:active:hover, .btn-success.active:hover, .open>.dropdown-toggle.btn-success:hover, .btn-success:active:focus, .btn-success.active:focus, .open>.dropdown-toggle.btn-success:focus, .btn-success:active.focus, .btn-success.active.focus, .open>.dropdown-toggle.btn-success.focus {
    color: #fff !important; 
    background-color: #167bc4 !important; 
    border-color: #0991f2 !important; 
}

.btn-info:hover {
    background-color:#167bc4 !important; 
    border-color: #0991f2 !important; 
    color: #ffffff !important; 
}


.btn-info {
     background-color: #1592eb !important; 
     border-color: #1592eb !important;  
    color: #ffffff !important; 
}

.btn-danger {
    background-color: #E32E1B !important; 
    border-color: #E32E1B !important;  
    color: #ffffff !important; 
}




.btn-warning {
    background-color: #F2990C !important; 
   border-color: #f39c12 !important;  
    color: #ffffff !important; 
}

.btn-success:focus, .btn-success.focus, .btn-success:active, .btn-success:active:hover, .btn-success:active:focus, .btn-success.active, .btn-success.active:hover, .btn-success.active:focus, .open .btn-success.dropdown-toggle, .open .btn-success.dropdown-toggle:hover, .open .btn-success.dropdown-toggle:focus, .open .btn-success.dropdown-toggle.focus {
    background-color:  #38A838 !important; 
    border-color: #38A838 !important; 
    color: #ffffff !important; 
}


.btn-success:active:hover, .btn-success.active:hover, .open>.dropdown-toggle.btn-success:hover, .btn-success:active:focus, .btn-success.active:focus, .open>.dropdown-toggle.btn-success:focus, .btn-success:active.focus, .btn-success.active.focus, .open>.dropdown-toggle.btn-success.focus {
    color: #fff !important; 
    background-color: #38A838 !important; 
    border-color: #255625 !important; 
}

.btn-success:hover {
    background-color:#38A838 !important; 
    border-color: #578022 !important; 
    color: #ffffff !important; 
}


.btn-success {
     background-color: #3FBF3F !important;  
     border-color: #3FBF3F !important; 
    color: #ffffff !important; 
}

.block-options .btn {
    border-radius: 2px !important; 
    padding-right: 8px !important; 
    padding-left: 8px !important; 
    min-width: 30px !important; 
    text-align: center !important; 
}

.navbar-form-custom .form-control {
    padding: 10px;
    margin: 0;
    height: 70px;
    font-size: 15px;
    background: transparent;
    border: none;
    z-index: 2000;
}

.remove-hover {
         pointer-events: none;
		 
		}

.navbar-form-custom .form-control:hover, .navbar-form-custom .form-control:focus {
   background-color: #333333;
   
   color: #ffffff;
}
.navbar-form-custom {
    padding: 0 !important; 
    width: 200px !important; 
    float: left !important; 
    height: 70px !important; 
	background-color: #ffffff !important; 
}


.nav.navbar-nav-custom > li.open > a, .nav.navbar-nav-custom > li > a:hover, .nav.navbar-nav-custom > li > a:focus, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus, a.sidebar-brand:hover, a.sidebar-brand:focus, a.sidebar-title:hover, a.sidebar-title:focus, #to-top:hover, .timeline-list .active .timeline-icon, .table-pricing.table-featured th, .table-pricing th.table-featured, .wizard-steps div.done span, .wizard-steps div.active span, .switch-primary input:checked + span, a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus, .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus, .nav .open > a, .nav .open > a:hover, .nav .open > a:focus, .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus, .pager > li > a:hover, .pagination > li > a:hover, .label-primary, .chosen-container .chosen-results li.highlighted, .chosen-container-multi .chosen-choices li.search-choice, .datepicker table tr td.active, .datepicker table tr td.active:hover, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active:hover, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active:active, .datepicker table tr td.active:hover:active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.active, .datepicker table tr td.active:hover.active, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:hover.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active:hover.disabled, .datepicker table tr td.active.disabled.disabled, .datepicker table tr td.active.disabled:hover.disabled, .datepicker table tr td.active[disabled], .datepicker table tr td.active:hover[disabled], .datepicker table tr td.active.disabled[disabled], .datepicker table tr td.active.disabled:hover[disabled], .datepicker table tr td span.active:hover, .datepicker table tr td span.active:hover:hover, .datepicker table tr td span.active.disabled:hover, .datepicker table tr td span.active.disabled:hover:hover, .datepicker table tr td span.active:active, .datepicker table tr td span.active:hover:active, .datepicker table tr td span.active.disabled:active, .datepicker table tr td span.active.disabled:hover:active, .datepicker table tr td span.active.active, .datepicker table tr td span.active:hover.active, .datepicker table tr td span.active.disabled.active, .datepicker table tr td span.active.disabled:hover.active, .datepicker table tr td span.active.disabled, .datepicker table tr td span.active:hover.disabled, .datepicker table tr td span.active.disabled.disabled, .datepicker table tr td span.active.disabled:hover.disabled, .datepicker table tr td span.active[disabled], .datepicker table tr td span.active:hover[disabled], .datepicker table tr td span.active.disabled[disabled], .datepicker table tr td span.active.disabled:hover[disabled], .bootstrap-timepicker-widget table td a:hover, div.tagsinput span.tag, .slider-selection, .themed-background, .select2-container--default .select2-selection--multiple .select2-selection__choice, .select2-container--default .select2-results__option--highlighted[aria-selected], .nav-horizontal a:hover, .nav-horizontal li.active a {
    background-color: #167bc4 !important; 
}
.themed-background-pre{
	background-color: #f2f2f2 !important; 
}
.navbar.navbar-default {
    background-color: #333333  !important;
}

.nav.navbar-nav-custom > li > a {
    min-width: 45px !important;
    padding: 15px 7px !important; 
    line-height: 40px !important; 
    text-align: center !important; 
    position: relative !important; 
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus, .nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
	background-color: #888888 !important;
}
.nav.navbar-nav-custom > li > a:hover, .nav.navbar-nav-custom > li > a:focus{
    background-color: #f8f9fd !important;
}
.nav.navbar-nav-custom > li > a:hover{
    color: #333333 !important;
}
.sidebar-nav a.active, .sidebar-nav ul a.active, .sidebar-nav ul a.active:hover {
    border-left-color: gray !important;
}
.sidebar-nav a{
    padding: 9px !important;
}
.preloader .inner {
    margin: 0 0 0 -80px;
}
.btn-def:hover{
	background-color: #e74c3c !important; 
	color: #ffffff !important; 
}
.btn-def{
	background-color: #e74c3c !important; 
	color: #ffffff !important; 
	width:98px !important; 
}
.btn-paid{
	background-color:#333333 !important;
	border-color:#333333 !important;
}



.btn-primary1 {
    background-color: #f2f2f2 !important; 
     border-color: #aaaaaa !important;  
    color: #888888 !important; 
}

.btn-primary1:focus, .btn-primary1.focus, .btn-primary1:active, .btn-primary1:active:hover, .btn-primary1:active:focus, .btn-primary1.active, .btn-primary1.active:hover, .btn-primary1.active:focus, .open .btn-primary1.dropdown-toggle, .open .btn-primary1.dropdown-toggle:hover, .open .btn-primary1.dropdown-toggle:focus, .open .btn-primary1.dropdown-toggle.focus {
    background-color: #f2f2f2 !important; 
     border-color: #888888 !important;  
    color: #888888 !important; 
}


.btn-primary1:active:hover, .btn-primary1.active:hover, .open>.dropdown-toggle.btn-primary1:hover, .btn-primary1:active:focus, .btn-primary1.active:focus, .open>.dropdown-toggle.btn-primary1:focus, .btn-primary1:active.focus, .btn-primary1.active.focus, .open>.dropdown-toggle.btn-primary1.focus {
     background-color: #f2f2f2 !important; 
     border-color: #888888 !important;  
    color: #888888 !important; 
}

.btn-primary1:hover {
   background-color: #f2f2f2 !important; 
     border-color: #888888 !important;  
    color: #888888 !important; 
}
.btn-gray{
background-color: #808080 !important; 
    border-color: #808080 !important; 
	color:#ffffff !important; 
}
.btn-gray:hover{
background-color: #808075 !important; 
    border-color: #808075 !important; 
	color:#ffffff !important; 
}

.quantity_input_box {
    width: 50%;
    text-align: center;
    margin-left: 42px;
}


.form-control.input_txt_pay {
    position: relative !important;
    top: -9px !important;
}

 input#portal_urlll {
    width: 100px;
    float: left;
    height: 28px;
    border: none;
    background: #fff;
    margin-right:10px;
}
.abctest {
    float: right;
}
input#btn_mask_link {
    color: #ffffff;
    background-color: #333333;
}
.plan_cust_url{
    border:none;
        text-align: left;
    width: auto;
}

.form-bordered .form-group {
    margin: 0;
    border: none;
    padding: 10px;
   
}
.set_taxes input[type="checkbox"] {
    margin: 12px 0 0;
    margin-top: 1px \9;
    margin-left: 45;
    margin-left: 10px;
    line-height: normal;
}

.block-options.show_hide_cust_btn {
    position: absolute;
   
}
.block-options.show_hide_cust_btn a#sh_cust {
    position: relative;
    top: 11px;
    left: 80px;
     z-index: 1;
}

#role\[\]-error {
    position: absolute !important;
    top: 18px !important;
    left: 127px !important;
}
.table.dataTable {
  width:100% !important;
 }






@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@media only screen and (min-device-width: 320px){
	.top-header {
    top: 18px;
    position: absolute;
    left: 12%;
    min-width: 25%;
}
.top-header .input-group {
    width: 70%;
}
}
@media only screen and (min-device-width: 420px){
	.top-header {
    left: 30%;
}
.top-header .input-group {
    width: 35% !important;
}
}

@media only screen and (min-device-width: 600px){
	.top-header {
    left: 5%;
}
}
@media screen and (min-width: 720px){
	.top-header {
		top: 18px;
    position: absolute;
    left: 58%;
    min-width: 20%;
}
.top-header .input-group {
        width: 30%;
}
}

@media only screen and (min-device-width: 1025px){
	.top-header {
		top: 18px;
    position: absolute;
    left: 70%;
    min-width: 20%;
}
.top-header .input-group {
        width: 75%;
}
}
@media only screen and (min-device-width: 1281px){
	.top-header {
    top: 18px;
    position: absolute;
    left: 68%;
    min-width: 20%;
}
.top-header .input-group {
    width: 75%;
}
}
@media screen and (min-width: 1300px){
	.top-header {
		top: 18px;
    position: absolute;
    left: 70%;
    min-width: 20%;
}
.top-header .input-group {
        width: 75%;
}
}
@media screen and (min-width: 1365px){
	.top-header {
		top: 18px;
    position: absolute;
    left: 73%;
    min-width: 20%;
}
.top-header .input-group {
        width: 100%;
}
}

/**********Styles for Firefox**********/
@-moz-document url-prefix() {
       .top-header .input-group {
        width: 100% !important;
}
}

/**********Styles for Opera**********/
 @media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0) {
        .top-header .input-group {
        width: 75% !important;
}
 }
 /**********Styles for Internet Explorer**********/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
  .top-header .input-group {
        width: 65% !important;
}
} 

@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) and (min-device-width: 720px) { 
 	.top-header {
    left: 62%;
}
}
@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) and (min-device-width: 1025px) { 
 	.top-header {
    left: 5%;
}
}
@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) and (min-device-width: 1281px) { 
 	.top-header {
    left: 5%;
}
}
.search_head
{
    border-color: transparent!important;
    background-color: #f8f9fd;
}
ul.sidebar-nav li a:after
{
    background: #555;
    position: absolute;
    content: '';
    width: 90%;
    height: 1px;
    left: 4%;
    bottom: 0px;
}
.sidebar-nav a
{
    position: relative;
}
ul.sidebar-nav li li a:after, ul.sidebar-nav li a.open:after, ul.sidebar-nav li a.active:after
{
    left: 0;
    width: 100%;
}
@media screen and (max-width:767px){
  .block-options.show_hide_cust_btn {
        position: absolute;
        margin: 0px 0px;
        line-height: 41px;
    }
    .block-options.show_hide_cust_btn a#sh_cust {
        position: relative;
        top: -19px;
        left: 0px;
    }
    div#ecom-orders111_wrapper {
        position: relative;
        top: 27px;
	}
	

    
    .block.outstand_invoice{
        height: auto;   
    }
    .block-options.process_btn {
      position: relative !important;
        z-index: 999 !important;
        top: 7px !important;
        left: -5px;
    }
   div#outstand_wrapper {
        position: relative;
        top: 0px;
    } 
    #outstand_filter .input-group {
    display: none;
}
    
     .table.dataTable {
      width:100% !important;
     }
}

@media screen and (max-width:396px){
    .table>tbody>tr>td {
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 11ch;
            padding: 4px;
    }
    .table thead > tr > th {
        font-size: 16px;
        font-weight: 600;
    }
   .block.full.page_customer  {
         height: 700px;
    }
  .table.dataTable {
      width:100% !important;
     }
    
     table.dataTable thead > tr > th {
      padding-left: 5px !important;
      padding-right: 20px !important;
     }
        #email_hist_paginate .paginate_button {
        color: #000000;
        background-color: #d9d8d8;
        border-radius: 100%;
        margin: 2px;
        width: 28px;
        float: left;
        text-align: center;
        height: 28px;
        line-height: 28px;
    }
    #email_hist_paginate .paginate_button:focus{
        color: #ffffff;
        background-color: #167bc4;
    }
    #email_hist_paginate .paginate_button.current{
        color: #ffffff;
        background-color: #167bc4;
    }
    
    
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (max-device-width: 1024px) and (min-device-width: 768px){
    .top-header
    {
        left: 5% !important;
    }
    }

.subs-btn
{
position: absolute;
    top: 9px;
    right: 3px;
    z-index: 1;
}




.invoice_quick{
    margin-bottom: 20px;
}
.block-options.gatway-btn {
        position: absolute !important;
        right: 278px !important;
        z-index: 1 !important;
       
}
.list-add-btn{
    right: 250px !important;
}


.add-new-sale-btn{
    font-size: 13px !important;
}
.table tbody > tr > td{
    padding-left: 18px !important;
    word-break: break-all;
}
.qbo_invoice_btn{
    right: 205px !important;
}
.btn-edit-customer{
    background-color: #808080 !important;
    border-color: #808080 !important;
}

.btn-edit-customer:hover {
    background-color: #808080 !important;
    border-color: #808080 !important;
}
.setup-text{
    font-size: 100% !important;
    margin-left: 20px !important;
}
.customerDetailsBtnAlingRight{
    top: 11px;
    margin-right: 226px;
}

@media screen and (max-width:767px){
    .customerDetailsBtnAlingRight {
        top: -64px;
        margin-right: -3px;
    }
    
    .manageSubDetailsBtn{
        position: absolute;
        top: 76.5%!important;
        right: 12%!important;
        z-index: 1;
        width: 18%!important;
    }
    .managePlanBtn{
        position: absolute;
        top: 132px!important;
        z-index: 1;
        right: -15%!important;
        width: 18%;
    }
    .manageNewAddBtn {
        right: 69%!important;
        top: 142px!important;
    }
    .manageProductNewAddBtn{
        
        right: 75%!important;
        top: 160px!important;
    }
    .termsBtnGrp {
        width: 66%!important;
        position: relative!important;
        right: -32%!important;
        top: 2px !important;
    }
    .addNewBtnCustom {
        right: 195px !important;
    }
    #sub_page_filter .input-group{
        display: none;
    }
    .manageSubBtn{
        right: 27px!important;
    }
}
@media screen and (min-width: 768px) and (max-width:1024px){
    
    .manageSubDetailsBtn{
        position: absolute;
        top: 42.5%!important;
        right: 29%!important;
        z-index: 1;
        width: 32%!important;
    }
    .managePlanBtn{
        position: absolute;
        top: 142px!important;
        z-index: 1;
        right: -1%!important;
        width: 45%!important;
    }
    .manageNewAddBtn {
        right: 35%!important;
    }
    .manageProductNewAddBtn{
        
        right: 40%!important;

    }
    .termsBtnGrp {
        width: 32%!important;
        right: 30%!important;
    }
    
}

.manageSubBtn{
    position: absolute;
    z-index: 9;
    right: 326px;
    top: 11px;
}
.manageSubDetailsBtn{
    position: absolute;
    top: 11px;
    right: 13%;
    z-index: 1;
    width: 18%;
}
.managePlanBtn{
    position: absolute;
    top: 143px;
    z-index: 1;
    right: 0%;
    width: 18%;
}
.manageNewAddBtn{
    position: absolute;
    top: 153px;
    z-index: 1;
    right: 18%;
    width: 5%;
}
.manageProductNewAddBtn{
    position: absolute;
    top: 171px;
    z-index: 1;
    right: 20.5%;
    width: 5%;
}
.no-left-padding{
    padding-left: 0;
}
.termsBtnGrp {
    width: 19%;
    position: absolute;
    top: 152px;
    z-index: 1;
    right: 17%;
}
.addNewBtnCustom{
    position: absolute;
    z-index: 9;
    right: 240px;
    top: 11px;
}

.addNewBtnCustomWithoutSearch{
    position: absolute;
    z-index: 9;
    right: 0px;
    top: 11px;
}

.align-right{
    text-align: right !important;
}
.alignAddNewBtnRight{
    margin-right: 225px;
}
.no-pad-left {
    padding-left: 0 !important;
}
.singlenotes {
    margin-bottom: 12px;
}