.card-box {
        background-color: #fff;
        padding: 1.25rem;
        -webkit-box-shadow: 0 1px 2px 0 rgba(33,37,41,.1);
        box-shadow: 0 1px 2px 0 rgba(33,37,41,.1);
        margin-bottom: 24px;
        border-radius: .25rem;
    }
    .avatar-md {
        height: 5.5rem;
        width: 5.5rem;
    }
    .avatar-title {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        color: #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100%;
    }
    .progress-sm {
        height: 5px;
    }
    .progress {
        -webkit-box-shadow: none;
        box-shadow: none;
        margin-bottom: 18px;
        overflow: hidden;
        height: .7rem;
    }
    .mr-2, .mx-2 {
        margin-right: .5rem!important;
    }
    .rounded-circle {
        border-radius: 50%!important;
    }
    .bg-info {
        background-color: #007bff!important;
    }
    .media {
        display: flex;
    }
    .font-26 {
        font-size: 26px!important;
    }
    .text-white {
        color: #fff!important;
    }
    .media-body.align-self-center {
        width: 75%;
        float: right;
        text-align: right;
    }
    .text-truncate {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 600;
    }
    .font-20 {
        font-size: 20px!important;
    }

    .font-weight-bold{
        font-size: 18px;
        font-weight: bold!important;
    }
    .bg-purple {
        background-color: #7e57c2!important;
    }
    .card-header:first-child {
        border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    }
    .card-title {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 600;
        margin: 0;
    }
    .chart {
        height: 390px!important;
        margin-top: 4%;
    }
    .pad-20{
        padding: 20px 0 20px 18px;
    }
    .block-white{
        background: #fff;
        
    }
    .chart_pie_sm {
        height:400px;
    }
    .revenueGraph{
        margin-top: 3%;
    }
    .legend table{
        top: -27px !important;
    }
    #legendContainer, #choices{
        width: 100%;
        padding: 3% 30% 0% 30%;
    }
    #legendContainer{
        display: none;
    }
    .checkboxNone{
        display: none;
    }
    /*
    #colorSet1{
        background: 
    }*/
    .displayLegend {
        display: inline-block;
    }
    .legendLabel{
        
        position: relative;
        bottom: 8px;
    }
    .opacityManage {
        opacity: 0.5;
    }
    .bg-primary {
        background-color: #e74c3c!important;
    }
    .manageBtnSubscription{
        top: 54px;
    }
    .subHeadText{
        width: 100%;
        word-break: break-all;
        text-align: right;
    }
    .subCustomerName{
        top: 55px; 
    }
    .subPlanName{
        top: 50px;
    }
    label.subHeadLabel {
        width: 65px;
        text-align: right;
    }
    span.subHeadSpan {
        padding-left: 10px;
    }
    @media screen and (max-width: 767px){
        .addNewBtnCustom {
            left: 77px !important;
            top: 60px!important;
        }
        .subHeadText {
            width: 100%;
            word-break: unset;
        }
        
    }
     @media screen and (min-width: 1024px) and  (max-width: 1024px){
        .addNewBtnCustom {
       
            top: 72px!important;
        }
    }

#invoice_page_wrapper .col-xs-5.col-sm-3{
    padding-left: 0;
}
#invoice_page_filter{
    text-align: right;
}
#invoice_page_wrapper .col-xs-7.col-sm-9{
    padding-right: 0;
}