.navbar {
    margin-bottom: 0px !important;
}

@media (max-width: 480px) {
    .mt-1 {
        display: none !important;
    }
} 

legend
{
    padding-bottom: 7px;
    position: relative;
    font-size: 16px;
    font-weight: 600;
    color: #38485b;
}
legend:after
{
    content: '';
    position: absolute;
    width: 150px;
    height: 3px;
    left: 0;
    top: 28px;
}

#page-content h3
{
    color: #0083ff;
    font-size: 2.4rem;
    margin-top: 0px;
}

 .form-bordered
{
    margin: 0px !important;
}
.leg:after{
    background: #0c7bff;
}

.p-0 {
    padding: 0;
}
.mb-20 {
    margin-bottom: 20px;
}
@media screen and (max-width:767px){
    
    .addNewBtnCustom {
        right: 195px !important;
    }
    #plan_page_filter .input-group {
        display: none;
    }
    .manageSubBtn{
        right: 3px!important;
    }
    span.filterPart {
        width: 35%!important;
    }
    .addFilterNewBtnCustom {
        display: none!important;
    }

    .setPassword{
        padding: 15px 0 0 15px !important;
        width: 95%;
    }
    div#manageCustomCheck {
       
        padding: 0px 0 0 15px;
        width: 95% !important;
    }
}
@media screen and (min-width: 768px) and (max-width:1024px){
    
    .addFilterNewBtnCustom {
        
        width: 35%!important;;
    }
    .chosen-choices {
        padding: 3% 1% 0% 2% !important;
    }
    
}

.addNewBtnCustom {
    position: absolute;
    z-index: 9;
    right: 240px;
    top: 11px;
}
.manageSubBtn{
    position: absolute;
    z-index: 9;
    right: 326px;
    top: 11px;
}
.form-control {
    border-color: #e8e8e8!important;
    height: 44px;
    font-size: 13px;
}
.btn {
    line-height: 29px;
}
.table thead > tr > th {
    font-size: 16px;
}
/*
=================================================================
(#10dts) Datatables
=================================================================
*/
.dataTables_wrapper > div{
    background-color: #f2f2f2 !important;
    border: none !important;
}
.dataTables_wrapper{
    background-color: #fff !important;
}
.dataTables_wrapper > div:last-child{
    background-color: #fff !important;
    border-top: 2px solid #f2f2f2 !important;
}
.dataTables_wrapper>.row >.col-sm-6.col-xs-5 {
    padding-left: 0px !important;
}
.dataTables_wrapper >.row >.col-sm-6.col-xs-7 {
    padding-right: 0px !important;
}
.dataTables_filter>label>.input-group>span.input-group-addon{
    background-color: #4d73e0 !important;
}
.dataTables_filter>label>.input-group>span.input-group-addon>.fa-search{
    color:#fff !important;
}


.dataTable{
    background-color: #fff !important;
}
.dataTable > div:last-child{
    background-color: #fff !important;
    border-top: 2px solid #f2f2f2 !important;
}
.dataTable>.row >.col-sm-6.col-xs-5 {
    padding-left: 0px !important;
}
.dataTable >.row >.col-sm-6.col-xs-7 {
    padding-right: 0px !important;
}
.addFilterNewBtnCustom {
    position: relative;
    z-index: 9;
    left: 0;
    top: 0px;
    width: 100%;
    display: flex;
}
span.filterPart {
    width: 250px;
}
a.btn.btn-sm.btn-grey {
    background: #aaa;
    color: #fff;
    padding: 4px 22px 5px 20px;
    margin-top: 4px;
}
.btnLabel{
    visibility: hidden;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.chosen-choices::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.chosen-choices {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

div#agentList_chosen {
    width: 155px !important;
}
.filterLabel{
    margin-right: 4%;
}
div#planList_chosen {
    width: 70% !important;
}
div#softwareList_chosen {
    width: 80% !important;
}
.no-padding{
    padding: 0;
}
.col-md-3.marginPermissionOption {
    margin-top: 8px;
}
.marginTopField{
    margin-top: 10px;
}
.table tbody > tr > td {
    padding-left: 18px !important;
}

input[type=search]::-webkit-input-placeholder, textarea.box::-webkit-input-placeholder {
    font-size: 13px !important;
}

.searchBox {
    font-size: 13px !important;
}
.dataTables_filter>label>.input-group>span.input-group-addon {
    background-color: #A5A5A5 !important;
}
.dataTables_wrapper >.row >.col-sm-6.col-xs-7 {
    position: absolute !important;
    z-index: 9 !important;
    left: 51px !important;
    width: 220px !important;
}

.newCloseButton{
    color: #333333 !important;
    font-size: 12px !important;
    padding: 5px 10px !important;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    background-color: #F5F5F5 !important;
}

.modal-title{
    color: #333333 !important;
    font-size: 24px !important;
    font-weight: 600 !important;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.newSaveButton{
    color: #ffffff;
    background-color: #3FBF3F !important;
    font-size: 12px !important;
    padding: 5px 10px !important;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.disabled {
    pointer-events: none;
    background: #f2f2f2;
}

.error_step1 {
    text-align: center;
    color: #00000096 !important;
    font-weight: 600;
}
.error_step2 {
    text-align: center;
    color: #00000087 !important;
    font-weight: 600;
    margin-top: 4%;
}
.error_step3 {
    text-align: center;
    font-weight: 600;
}