.btn-success.btn-alt1 {
    background-color: #ffffff;
    color: #7db831;
}

.btn-danger.btn-alt1{
    background-color: #ffffff;
    color: #e74c3c;
  
}

.btn-info.btn-alt1{
    background-color: #ffffff;
    color: #3498db;
  
}

.btn-warning.btn-alt1{
    background-color: #ffffff;
    color: #f39c12;
  
}
.o-hidden {
    overflow: hidden !important;
}
.text-white {
    color: #fff !important;
}
.h-100 {
    height: 100% !important;
}
.bg-primary {
    background-color: #007bff !important;
}
.card-body-icon {
    background: #FFF;
    float: left;
    border-radius: 50px;
    width: 90px;
    height: 90px;
    font-size: 5rem;

}
.card-body {
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.card {
    word-wrap: break-word;
  position: relative;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}
.fa-fw {
    width: 1.28571429em;
    text-align: center;
}
.fa-comments::before {
    content: "\f086";
}
.mr-5, .mx-5 {
    margin-right: 3rem !important;
}

.z-1 {
    z-index: 1;
}

.mb-3, .my-3 {
    margin-bottom: 1rem !important;
}
.bg-warning {
    background-color: #ffc107;
}
.bg-danger {
  background-color: #e74c3c;
}
.bg-success {
    background-color: #28a745 !important;
}

.card-padding {
    padding: 2rem 1.5rem;
}
.card-body-icon {
    display: inline-flex;
    align-items: center;
}
.card-content {
    margin-left: 1.5rem;
}
.card-content h4 {
    font-size: 1.85rem;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 1.5rem;
}
.card-footer:last-child {
    border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
}
.card-footer {
    font-size: 2rem;
}
@media only screen and (max-width: 1637px) and (min-width: 1200px){
  .card-body-icon {
      width: 40px;
      height: 40px;
      margin-top: 5px;
  }
  .card-body-icon .fas {
      font-size: 2rem;
  }
  .card-content h4 {
      font-size: 1.25rem;
      margin-top: 0.7rem;
  }
}

.card-body-icon .fas {
    text-align: center;
    margin: 0 auto;
}
.card-body-icon .fa-credit-card {
    color: #28a745;
}
.card-body-icon .fa-money-check{
    color: #007bff;
}
.card-body-icon .fa-chart-line{
    color: #6b33aa;
}
.card-body-icon .fa-receipt{
    color: #e74c3c;
}
.custom-warning {
    background-color: #6b33aa !important;
}
.fas-custom-red{
    font-size:24px;
    color: #e74c3c;
}