.card-box {
        background-color: #fff;
        padding: 1.25rem;
        -webkit-box-shadow: 0 1px 2px 0 rgba(33,37,41,.1);
        box-shadow: 0 1px 2px 0 rgba(33,37,41,.1);
        margin-bottom: 24px;
        border-radius: .25rem;
    }
    .avatar-md {
        height: 5.5rem;
        width: 5.5rem;
    }
    .avatar-title {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        color: #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100%;
    }
    .progress-sm {
        height: 5px;
    }
    .progress {
        -webkit-box-shadow: none;
        box-shadow: none;
        margin-bottom: 18px;
        overflow: hidden;
        height: .7rem;
    }
    .mr-2, .mx-2 {
        margin-right: .5rem!important;
    }
    .rounded-circle {
        border-radius: 50%!important;
    }
    .bg-info {
        background-color: #007bff!important;
    }
    .media {
        display: flex;
    }
    .font-26 {
        font-size: 26px!important;
    }
    .text-white {
        color: #fff!important;
    }
    .media-body.align-self-center {
        width: 75%;
        float: right;
        text-align: right;
    }
    .text-truncate {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .font-20 {
        font-size: 20px!important;
    }

    .font-weight-bold{
        font-size: 18px;
        font-weight: bold!important;
    }
    .bg-purple {
        background-color: #7e57c2!important;
    }
    .card-header:first-child {
        border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    }
    .card-title {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 600;
        margin: 0;
    }
    .chart {
        height: 390px!important;
        margin-top: 4%;
    }
    .pad-20{
        padding: 20px 0 20px 18px;
    }
    .block-white{
        background: #fff;
        
    }
    .chart_pie_sm {
        height:350px;
    }
    .revenueGraph{
        margin-top: 3%;
    }
    .volumnGraph, .merchantGraph{
        margin-top: 3%;
    }
    .legend table{
        top: -27px !important;
    }
    #legendContainer, #choices, #volumnChoices{
        width: 100%;
        padding: 3% 30% 0% 30%;
        text-align: center;
    }
    #legendContainer{
        display: none;
    }
    .checkboxNone{
        display: none;
    }
    .checkboxNoneVolumn{
        display: none;
    }
   
    .displayLegend {
        display: inline-block;
    }
    .legendLabel{
        position: relative;
        bottom: 7px;
        margin-left: 7px;
    }
    .opacityManage {
        opacity: 0.5;
    }
    .bg-primary {
        background-color: #e74c3c!important;
    }
    .bottomPad{
        padding: 0 0 22px 0px;
    }

    .legendLabel{
        padding-left: 5px;
        line-height: 10px;
        padding-right: 20px;
        font-size: 13px;
        font-weight: 500;
        color: #6c757d;
    }