.addNewFixRight {
    position: absolute;
    top: 9px;
    right: 0px !important;
    z-index: 1;
}

.dataTable{
    background-color: #fff !important;
}

.dataTables_wrapper > div {
    background-color: #f2f2f2 !important;
    border: none !important;
}

.dataTables_wrapper > div:last-child {
    background-color: #fff !important;
    border-top: 2px solid #f2f2f2 !important;
}

.clearfix {
    display: block;
}

.dataTables_wrapper >.row >.col-sm-6.col-xs-7 {
    position: absolute !important;
    z-index: 9 !important;
    left: 50px !important;
    width: 220px !important;
    padding-right: 0px !important;
}

.dataTables_wrapper>.row >.col-sm-6.col-xs-5 {
    padding-left: 0px !important;
}

.btn {
    line-height: 29px;
}

.margin-right-0px{
    margin-right: 0px !important;
}


.emailtemplate-ul-li-div{
    border-top: 0;
}
.emailtemplate-ul-li-div #defaultActive{
    margin-left: -1px;
}
.emailtemplate-ul-li-div ul{
    background-color: #f2f2f2;
}
.emailtemplate-ul-li-div ul li.active{
    background-color: #ffffff;
    padding-bottom: 2px;
    border: 0;
}
.emailtemplate-ul-li-div ul li{
    border: 1px solid #e5e5e5;
}
.emailtemplate-ul-li-div .block-title .nav-tabs > li.active > a{
    border: 0;
    border-bottom: 1px solid #eaedf1;
    border-bottom-color: #ffffff;
    background-color: #ffffff;
}
.emailtemplate-ul-li-div .block-options {
    margin: 0;
}

.newCloseButton{
    color: #333333 !important;
    font-size: 12px !important;
    padding: 5px 10px !important;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    background-color: #F5F5F5 !important;
}

.form-custom-bordered {
    margin: 0px !important;
}

.modal-title{
    color: #333333 !important;
    font-size: 24px !important;
    font-weight: 600 !important;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.newSaveButton{
    color: #ffffff;
    background-color: #3FBF3F !important;
    font-size: 12px !important;
    padding: 5px 10px !important;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.custom-btn{
    line-height: 1.42857143;
}