@media only screen and (max-device-width: 600px){
	.block-options.pull-right {
    position: absolute;
	}
	.block-options {
    margin: 0px 15px;
    line-height: 41px;
	}
	div#merchant_page_wrapper {
    position: relative;
    top: 27px;
	}
}

.btn_gray{
  background-color: #888888;
  color:#ffffff;    
    
}

.btn_gray:hover {
  background-color: #888888;
  color:#ffffff;
  border:1px solid black;
}

.btn-margin-5{
  margin:5px;    
}

.navbar {
  margin-bottom: 0px !important;
}

@media (max-width: 480px) {
  .mt-1 {
      display: none !important;
  }
} 



.dataTables_filter>label>.input-group>span.input-group-addon {
    background-color: #A5A5A5 !important;
    color: #fff !important;
}
.dataTables_wrapper >.row >.col-sm-6.col-xs-7 {
    position: absolute;
    z-index: 9 !important;
    width: 220px !important;
    left: 309px;
}

.table thead > tr > th {
  font-size: 13px !important;
  /* font-weight: 600; */
}