.error{color:red; }

.sidebar-brand, .sidebar-title {
   
    margin:  0px;
    font-weight: 300;
    font-size: 18px;
    display: block;
    color: #ffffff;
	background-color: rgba(0, 0, 0, 0.3) !important; 
	  height: 70px;
} 

.navbar{
     height: 70px;
    background-color: #fff;
}

.btn-search{
	background-color: #4d73e0 !important
}
.icon-color{
	color:#ffffff;
}
.top-header{
  top:16px;	
} 

.form-bordered .form-group {
    margin: 0;
    border: none;
    padding: 10px;
}

.widget.widg_border{
    
      border: 1px solid #e8e8e8 !important;
}
.nav.navbar-nav-custom > li > a {
    min-width: 50px;
    padding: 15px 7px;
    line-height: 40px;
    text-align: center;
    color: #ffffff;
    position: relative;
}
#img-spinner{
    animation: spin 2s linear infinite;
}
.breadcrumb {
		display: flex;
		flex-wrap: wrap;
    	padding: .75rem 1rem;
    	margin-bottom: 1rem;
    	list-style: none;
	    border-radius: .25rem;
	    font-size:16px;
	}
	.breadcrumb-item a{
	color: #418eff;
	}
	.breadcrumb-item a:hover{
	text-decoration:none;
	color: #418eff;
	}
	.breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    padding-left: .5rem;
    color: #6c757d;
    content: "/";
}
.tooltip-inner {
  white-space:nowrap;
  max-width:none;
}
.cust_view a{
    color: #167bc4;
    text-decoration: none;
}

.o-hidden {
    overflow: hidden !important;
}
.text-white {
    color: #fff !important;
}
.h-100 {
    height: 100% !important;
}
.bg-primary {
    background-color: #007bff !important;
}
.card-body-icon {
    position: absolute;
    z-index: 0;
    top: -7px;
    right: 14px;
    font-size: 6rem;
    transform: rotate(15deg);
}
.card-body {
	-webkit-box-flex: 1;
	flex: 1 1 auto;
	padding: 1.25rem;
}

.card {
    word-wrap: break-word;
	position: relative;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-clip: border-box;
	border: 1px solid rgba(0,0,0,.125);
	border-radius: .25rem;
}
.fa-fw {
    width: 1.28571429em;
    text-align: center;
}
.fa-comments::before {
    content: "\f086";
}
.mr-5, .mx-5 {
    margin-right: 3rem !important;
}
.card-footer:last-child {
    border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
}
.z-1 {
    z-index: 1;
}
.card-footer {
    padding: 1rem 1.25rem;
    background-color: rgba(0,0,0,.03);
    border-top: 1px solid rgba(0,0,0,.125);
}
.mb-3, .my-3 {
    margin-bottom: 1rem !important;
}
.bg-warning {
    background-color: #ffc107;
}
.bg-danger {
	background-color: #e74c3c;
}
.bg-success {
    background-color: #28a745 !important;
}
.themed-background-purple{
     background-color: #46216f !important;
} 
.text-purple{
     color: #46216f !important;
} 
.canvasjs-chart-credit{
    display:none;
}
.bgd {
    padding: 0px;
}
   
   
   
   
 .navbar.navbar-default {
    background-color: #3498db !important;
}

.btn-info:focus, .btn-success.focus, .btn-success:active, .btn-success:active:hover, .btn-success:active:focus, .btn-success.active, .btn-success.active:hover, .btn-success.active:focus, .open .btn-success.dropdown-toggle, .open .btn-success.dropdown-toggle:hover, .open .btn-success.dropdown-toggle:focus, .open .btn-success.dropdown-toggle.focus {
    background-color:  #167bc4;
    border-color: #0991f2;
    color: #ffffff;
}


.btn-info:active:hover, .btn-success.active:hover, .open>.dropdown-toggle.btn-success:hover, .btn-success:active:focus, .btn-success.active:focus, .open>.dropdown-toggle.btn-success:focus, .btn-success:active.focus, .btn-success.active.focus, .open>.dropdown-toggle.btn-success.focus {
    color: #fff;
    background-color: #167bc4;
    border-color: #0991f2;
}

.btn-info:hover {
    background-color:#167bc4;
    border-color: #0991f2;
    color: #ffffff;
}


.btn-info {
     background-color: #1592eb; 
     border-color: #1592eb; 
    color: #ffffff;
}

.btn-danger {
    background-color: #E32E1B;
    border-color: #E32E1B; 
    color: #ffffff;
}




.btn-warning {
    background-color: #F2990C;
   border-color: #f39c12; 
    color: #ffffff;
}

.btn-success:focus, .btn-success.focus, .btn-success:active, .btn-success:active:hover, .btn-success:active:focus, .btn-success.active, .btn-success.active:hover, .btn-success.active:focus, .open .btn-success.dropdown-toggle, .open .btn-success.dropdown-toggle:hover, .open .btn-success.dropdown-toggle:focus, .open .btn-success.dropdown-toggle.focus {
    background-color:  #38A838;
    border-color: #38A838;
    color: #ffffff;
}


.btn-success:active:hover, .btn-success.active:hover, .open>.dropdown-toggle.btn-success:hover, .btn-success:active:focus, .btn-success.active:focus, .open>.dropdown-toggle.btn-success:focus, .btn-success:active.focus, .btn-success.active.focus, .open>.dropdown-toggle.btn-success.focus {
    color: #fff;
    background-color: #38A838;
    border-color: #255625;
}

.btn-success:hover {
    background-color:#38A838;
    border-color: #578022;
    color: #ffffff;
}


.btn-success {
     background-color: #3FBF3F; 
     border-color: #3FBF3F; 
    color: #ffffff;
}

.block-options .btn {
    border-radius: 2px; 
    padding-right: 8px;
    padding-left: 8px;
    min-width: 30px;
    text-align: center;
}

.navbar-form-custom .form-control {
    padding: 10px;
    margin: 0;
    height: 70px;
    font-size: 15px;
    background: transparent;
    border: none;
    z-index: 2000;
}

.remove-hover {
         pointer-events: none;
		 
		}

.navbar-form-custom {
    padding: 0;
    width: 200px;
    float: left;
    height: 70px;
	background-color: #ffffff !important; 
}


.nav.navbar-nav-custom > li.open > a, .nav.navbar-nav-custom > li > a:hover, .nav.navbar-nav-custom > li > a:focus, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus, a.sidebar-brand:hover, a.sidebar-brand:focus, a.sidebar-title:hover, a.sidebar-title:focus, #to-top:hover, .timeline-list .active .timeline-icon, .table-pricing.table-featured th, .table-pricing th.table-featured, .wizard-steps div.done span, .wizard-steps div.active span, .switch-primary input:checked + span, a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus, .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus, .nav .open > a, .nav .open > a:hover, .nav .open > a:focus, .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus, .pager > li > a:hover, .pagination > li > a:hover, .label-primary, .chosen-container .chosen-results li.highlighted, .chosen-container-multi .chosen-choices li.search-choice, .datepicker table tr td.active, .datepicker table tr td.active:hover, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active:hover, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active:active, .datepicker table tr td.active:hover:active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.active, .datepicker table tr td.active:hover.active, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:hover.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active:hover.disabled, .datepicker table tr td.active.disabled.disabled, .datepicker table tr td.active.disabled:hover.disabled, .datepicker table tr td.active[disabled], .datepicker table tr td.active:hover[disabled], .datepicker table tr td.active.disabled[disabled], .datepicker table tr td.active.disabled:hover[disabled], .datepicker table tr td span.active:hover, .datepicker table tr td span.active:hover:hover, .datepicker table tr td span.active.disabled:hover, .datepicker table tr td span.active.disabled:hover:hover, .datepicker table tr td span.active:active, .datepicker table tr td span.active:hover:active, .datepicker table tr td span.active.disabled:active, .datepicker table tr td span.active.disabled:hover:active, .datepicker table tr td span.active.active, .datepicker table tr td span.active:hover.active, .datepicker table tr td span.active.disabled.active, .datepicker table tr td span.active.disabled:hover.active, .datepicker table tr td span.active.disabled, .datepicker table tr td span.active:hover.disabled, .datepicker table tr td span.active.disabled.disabled, .datepicker table tr td span.active.disabled:hover.disabled, .datepicker table tr td span.active[disabled], .datepicker table tr td span.active:hover[disabled], .datepicker table tr td span.active.disabled[disabled], .datepicker table tr td span.active.disabled:hover[disabled], .bootstrap-timepicker-widget table td a:hover, div.tagsinput span.tag, .slider-selection, .themed-background, .select2-container--default .select2-selection--multiple .select2-selection__choice, .select2-container--default .select2-results__option--highlighted[aria-selected], .nav-horizontal a:hover, .nav-horizontal li.active a {
    background-color: #167bc4 !important;
}
.themed-background-pre{
	background-color: #f2f2f2;
}
.navbar.navbar-default {
    background-color: #333333  !important;
}
.nav.navbar-nav-custom > li > a {
    min-width: 45px !important;
    padding: 15px 7px;
    line-height: 40px;
    text-align: center;
    position: relative;
}
 .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus, .nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
    background-color: #888888 !important;
   
}
.nav.navbar-nav-custom > li > a:hover, .nav.navbar-nav-custom > li > a:focus{
    background-color: #f8f9fd !important;
}
.nav.navbar-nav-custom > li > a:hover{
    color: #333333 !important;
}
.sidebar-nav a.active, .sidebar-nav ul a.active, .sidebar-nav ul a.active:hover {
    border-left-color: #888888 !important;
}
.sidebar-nav a{
    padding: 9px !important;
}
.preloader .inner {
    margin: 0 0 0 -80px;
}
  
  .btn-success.btn-alt1 {
    background-color: #ffffff;
    color: #7db831;
}

.btn-danger.btn-alt1{
	  background-color: #ffffff;
    color: #e74c3c;
	
}

.btn-info.btn-alt1{
	  background-color: #ffffff;
    color: #3498db;
	
}

.btn-warning.btn-alt1{
	  background-color: #ffffff;
    color: #f39c12;
	
} 
   
   
   
   
   
   
   
   
   
   
   
   
   
   


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@media only screen and (min-device-width: 320px){
	.top-header {
    top: 18px;
    position: absolute;
    left: 20%;
    min-width: 20%;
}
.top-header .input-group {
    width: 70%;
}
}
@media only screen and (min-device-width: 420px){
	.top-header {
    left: 30%;
}
	.top-header .input-group {
        width: 35% !important;
}
}
@media only screen and (min-device-width: 600px){
	.top-header {
    left: 5%;
}
}
@media screen and (min-width: 720px){
	.top-header {
		top: 18px;
    position: absolute;
    left: 58%;
    min-width: 20%;
}
.top-header .input-group {
        width: 100%;
}
}

@media only screen and (min-device-width: 1025px){
	.top-header {
		top: 18px;
    position: absolute;
    left: 77%;
    min-width: 20%;
}
.top-header .input-group {
        width: 70%;
}
}
@media only screen and (min-device-width: 1281px){
	.top-header {
    top: 18px;
    position: absolute;
    left: 68%;
    min-width: 20%;
}
.top-header .input-group {
    width: 75%;
}
}
@media screen and (min-width: 1300px){
	.top-header {
		top: 18px;
    position: absolute;
    left: 70%;
    min-width: 20%;
}
.top-header .input-group {
        width: 75%;
}
}
@media screen and (min-width: 1365px){
	.top-header {
		top: 18px;
    position: absolute;
    left: 73%;
    min-width: 20%;
}
.top-header .input-group {
        width: 30%;
}
}



/**********Styles for Firefox**********/
@-moz-document url-prefix() {
       .top-header .input-group {
        width: 100% !important;
}
}

/**********Styles for Opera**********/
 @media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0) {
        .top-header .input-group {
        width: 75% !important;
}
 }
 /**********Styles for Internet Explorer**********/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
  .top-header .input-group {
        width: 65% !important;
}
} 
 

@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) and (min-device-width: 720px) { 
 	.top-header {
    left: 62%;
}
}
@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) and (min-device-width: 1025px) { 
 	.top-header {
    left: 5%;
}
}
@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) and (min-device-width: 1281px) { 
 	.top-header {
    left: 5%;
}
}
.search_head
{
    border-color: transparent!important;
    background-color: #f8f9fd;
}
ul.sidebar-nav li a:after
{
    background: #555;
    position: absolute;
    content: '';
    width: 90%;
    height: 1px;
    left: 4%;
    bottom: 0px;
}
.sidebar-nav a
{
    position: relative;
}
ul.sidebar-nav li li a:after, ul.sidebar-nav li a.open:after, ul.sidebar-nav li a.active:after
{
    left: 0;
    width: 100%;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (max-device-width: 1024px) and (min-device-width: 768px){
    .top-header
    {
        left: 5% !important;
    }
}
.no-pad{
    padding: 0;
}
.bottom_right_mechant_btn{
    right: 8%;
}
.leg:after{
    background: #0c7bff;
}
legend:after {
    content: '';
    position: absolute;
    width: 150px;
    height: 3px;
    left: 0;
    top: 28px;
}
legend {
    padding-bottom: 7px;
    position: relative;
    font-size: 16px;
    font-weight: 600;
    color: #38485b;
}
.form-control {
    border-color: #e8e8e8!important;
    height: 44px !important;
    font-size: 14px;
}
.top-header .form-control, .top-header .input-group-btn .btn {
    height: auto !important;
    line-height: initial;
}
.checkboxPlanSection{
    padding-left: 5px;
}

@media (min-width: 768px){
    .form-horizontal .control-label {
        text-align: right;
        margin-bottom: 0;
        padding-top: 12px;
    }
}
.align-right{
    text-align: right;
}